[submodule "PipePipeExtractor"]
	path = PipePipeExtractor
	url = https://github.com/JimBobSnow/PipePipeExtractor.git
	branch = main
[submodule "PipePipeClient"]
	path = PipePipeClient
	url = https://github.com/JimBobSnow/PipePipeClient.git
	branch = dev
